.form-comand {
    flex-grow: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px 40px;
  }

  .form-comand_input {
    margin-top: 8px;
    padding: 4px;
    border: black;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  }

  .form-comand_button {
    margin-top: 8px;
    align-self: flex-end;
    width: 30%;
    background-color: var(--secundaria);
    font-weight: 400;
  }
  